@import 'nullstyle.scss';

.header{
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
	width: 100%;
	background-color: #fff;	
	position: fixed;
	z-index: 3;
}
.container{
	padding: 0 80px;
	max-width: 1300px;
	margin: 0 auto;
	@media (max-width: 900px){
		padding: 0 10px;
	}
}
.header__body{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	@media (max-width: 500px){
		padding: 30px 0;
	}
}
.header__btns{
	display: flex;
	align-items: center;
	.header__pct{
		@media (max-width: 500px){
			display: none;
		}
	}
}
.header__btn{
	margin: 0 25px 0 0;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 2px;
	button{
		background-color: #fff;
		padding: 14px 20px;
	}
}
.name{
	background-image: url("../img/photo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 155px 0 80px 0;
}
.name__body{
	max-width: 432px;
	padding: 50px 40px;
	background-color: #fff;
	border-radius: 5px;
	@media (max-width: 655px) {
		margin: 0 auto;
	}
	h1{
		padding:0 0 38px 0;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
	}
}
.name__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}	
.name__text{
	color: #626262;
}
.name__btn{
	background-color: #262626;
	color: #fff;
	border-radius: 20px;
	padding: 10px 15px;
}
.links__body{
	padding: 35px 0;
	border-bottom: 1px solid rgba(117, 117, 117, 0.2);
	@media (max-width: 655px) {
		display: none;
	}
	.link{
		color: #626262;
		font-size: 16px;
		padding: 0 35px 0 0;
	}	
	.link:hover{
		color: #327430;
	}
}
.menu__body{
	padding: 60px 0;
}
.menu__tittle{
	font-size: 22px;
}
.menu__card{
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 -10px;
}
.card{
	margin: 35px 0 0 10px;
	border: 1px solid rgba(117, 117, 117, 0.2);
	display: flex;
	justify-content: space-between;
	position: relative;
	flex:1 1 47%;
	@media (max-width: 992px) {
		flex: 1 1 100%;
	}
}
.card:hover{
	background-color: #e5e5e5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__body{
	padding: 10px;
}
.card__tittle {
	font-size: 16px;
	padding: 0 0 10px 0;
}
.card__text {
	color: #626262;
	font-size: 13px;
}
.card__price {
	font-size: 15px;
	position: absolute;
	bottom: 10px;
}
.black{
	background-color: #262626;
}
.black__logo{
	padding: 40px 0;
}
.black__menu{
	padding: 30px 0 50px 0;
	border-top: 1px  solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px  solid rgba(255, 255, 255, 0.4);
	display: flex;
	@media (max-width: 655px){
		flex-direction: column;
	}
}
.menu-1__drop{
	padding: 0 70px 30px 0;
}
.drop{
	background-color: #3c3c3c;
	background: url("../img/world.svg") 7% 50% no-repeat, rgba(255, 255, 255, 0.1);
	width: 230px;
	height: 40px;
	border-radius: 5px;
	padding: 0 40px;
	color: #ffffff;
	box-shadow:0px 5px 0px #000;
	option {
		background-color: #3c3c3c;
		color: #ffffff;
	}
}
.menu-2{
	display: flex;
	flex-direction: column;
	padding: 0 70px 0 0;
	a{
		color: #fff;
		padding: 0 0 20px 0;
		font-size: 16px;
		letter-spacing: 1px
	}
	@media (max-width: 655px){
		padding: 20px 0 0 0;
	}
}
.menu-3{
	display: flex;
	flex-direction: column;
	a{
		color: #fff;
		padding: 0 0 20px 0;
		font-size: 16px;
		letter-spacing: 1px;
	}
}
.black__market{
	display: flex;
	padding: 20px 0 ;
	justify-content: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
	img{
		padding: 0 20px 0 0;
	}
}
footer{
	background-color: #262626;
	position: relative;
}
.footer__body{
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	a{
		color: #fff;
	}
	@media (max-width: 655px){
		flex-direction: column;
		a{
			padding: 0 0 15px 0;
		}
	}
}
.up{
	padding: 30px 35px;
	border-radius: 5px;
	background-color: #59BD5A;
	position: absolute;
	right: 30px;
	bottom: 40px;
}